[package]
name = "prometheus_exporter"
version = "0.4.1"
authors = ["Alexander Thaller <alexander.thaller@trivago.com>"]

description = "Helper libary to export prometheus metrics using hyper."
documentation = "https://docs.rs/prometheus_exporter/"
homepage = "https://github.com/AlexanderThaller/prometheus_exporter"
readme = "README.md"
repository = "https://github.com/AlexanderThaller/prometheus_exporter"
license = "MIT"

edition = "2018"

[badges]
travis-ci = { repository = "AlexanderThaller/prometheus_exporter" }

[package.metadata.docs.rs]
features = ["log"]

[features]
# disable logging by disabling log feature
default = ["log"]

[dependencies]
crossbeam-channel = "0.3"
hyper = "0.12"
log = { version = "0.4", optional = true }
prometheus = { version = "0.7", default-features = false }
